body {
  background-color: lightblue;
}

h1 {
  font-family: copperplate;
  color: black;
  text-align: center;
  font-size: 100px;
}b
h2 {
  font-family: copperplate;
  color: black;
  text-align: center;
  font-size: 50px;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

